.loginPageForm {
   padding-top: calc(40px + (79 - 40) * ((100vw - 320px) / (1920 - 320)));
   padding-bottom: calc(50px + (220 - 50) * ((100vw - 320px) / (1920 - 320)));
   border-bottom: 3px solid #ffffff;
}
.loginPageForm__title {
   margin-bottom: 99px;
}
.form {
   display: flex;
   flex-direction: column;
   width: fit-content;
   margin: 0 auto;
}
.form__login {
   align-items: center;
}
.form__user {
   align-items: center;
}
@media (max-width: 1000px) {
   .form {
      align-items: center;
   }
}
@media (min-width: 1920px) {
   .loginPageForm__title {
      margin-bottom: 180px;
   }
}
