.socialNetworks {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 30px;
}
.socialNetworks-wrapper {
    box-sizing: border-box;
    width: 330px;
    display: flex;
    justify-content: space-between;
}