.button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    transition: all .2s ease-in-out;
    &:hover{
        transform: translateY(-2px);
    }
    cursor: pointer;
}
.large{
    font-weight: 700;
    font-size: 48px;
    padding: 30px 60px;
}
.medium{

}
.small{
    padding: 10px 22px;
    font-size: 30px;
    font-weight: 700;
}
.white{
    color: #ffffff;
}
.black{
    color: #000000;
}
.yellow{
    &:hover{
        background-color: darken(#EFBC23, 5%);
    }
    &:active{
        background-color: darken(#EFBC23, 10%);
    }
    background-color: #EFBC23;
}
.blue{
    &:hover{
       background-color: darken(#1E26E0, 5%);
    }
    &:active{
        background-color: darken(#1E26E0, 10%);
    }
    background-color: #1E26E0;
}
.default{
    border-radius: 15px;
}
.round{
    border-radius: 40px;
}