.input-wrapper {
    width: 546px;
    text-align: left;
    margin-bottom: 71px;
    position: relative;
}

.input {
    text-align: left;
    font-weight: bold;
    position: relative;
}

.input::placeholder {
    text-align: right;
    color: #000;
}

.input, .input:focus, .input:active {
    box-sizing: border-box;
    width: 100%;
    height: 58px;
    border-radius: 309px;
    border: 6px solid #EFBC23;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.input:focus {
    outline: none;
}

.input-title {
    font-size: 32px;
    margin-left: 20px;
    line-height: 20px;
    text-align: left;
}

.PostAssignmentStep3-deadline__calendar::before {
    content: '->';
    color: green;
}

.input-calendar {
    position: relative;
    right: -560px;
    top: -60px;
    cursor: pointer;
}


@media (max-width: 700px) {
    .input-wrapper,
    .input {
        width: 100%;
    }
    .input-calendar {
        position: static;
        margin-top: 10px;
        margin-left: 80%;
    }
}