.postAssignment, .postAssignment > a {
    font-family: 'Baloo 2', sans-serif;
    box-sizing: border-box;
    width: 520px;
    height: 100px;
    background: #EFBC23;
    border: 1px solid #EFBC23;
    border-radius: 309px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 76px;
    color: #FFFFFF;
}

@media (max-width: 550px) {
    .postAssignment, .postAssignment > a {
        width: 100%;
        line-height: 40px;
        font-size: 40px;
    }
}

.postAssignment > a {
    display: flex;
    border-radius: 309px;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    cursor: pointer;
    box-sizing: border-box;
    width: 220px;
    height: 50px;
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    background-color: #2BB5DC;
    border-radius: 309px;
    border: 1px solid #2BB5DC;
}

.postAssignment.postAssignmentFinishBtn {
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 750px;
    padding-left: 260px;
    padding-right: 260px;
    line-height: 50px;
    font-size: 32px;
}

@media (max-width: 750px) {
    .postAssignment.postAssignmentFinishBtn {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}