@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
.mainPageHeader {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.mainPageHeader-wrapper {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.mainPageHeader__link {
    font-weight: 400;
    font-size: 32px;
    color: #000;
    display: flex;
    align-items: center;
}

.mainPageHeader__link-text {
    font-family: 'Baloo 2', cursive;
    font-size: 26px;
}

.mainPageHeader-btns {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    border: 0 solid #fff;
    margin-left: 80px;
    cursor: pointer;
}

.mainPageHeader-Nav {
    list-style: none;
    display: flex;
}

.mainPageHeaderCol1 {
    display: flex;
    align-items: center;
}

.loginBtn {
    align-self: flex-end;
}

.mobileNavigation {
    display: none;
}

.mainPageDropdown {
    position: absolute;
    list-style: none;
    text-align: left;
    background-color: #2BB5DC;
    border: 2px solid #fff;
    width: 200px;
    top: 101px;
    opacity: 0.9;
}

.mainPageDropdown li{

    border-bottom: 1px solid #fff;
}

.mainPageDropdown li:last-child {
    border-bottom: none;
}

.mainPageDropdown a {
    display: block;
    color: #fff;
    padding: 10px;
}

.mainPageHeader-btns_active {
    background-color: #2BB5DC;
}

@media (max-width: 900px) {
    .mainPageHeader-btns {
        padding: 0;
    }
    .navigation {
        display: none;
    }
    .mobileNavigation {
        display: flex;
        align-items: center;
    }
    .hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .navBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        border-top: 2px solid #8c1cd1;
    }
    .navBar nav ul li {
        padding-left: 15%;
        margin: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navBar {
        opacity: 1;
    }

    .nvaBar:hover {
        border-bottom: none;
    }

    .mainPageHeader-btns {
        background-color: #fff;
        display: flex;
        flex-direction: column;

    }

    .loginBtn {
        position: relative;
        right: 140px;
    }

    .mainPageHeader-btns_dropDown {
        border: 1px solid #2BB5DC;
        margin-bottom: 1px;
    }
    .mainPageHeader-btns_dropDown {

    }

    .mainPageHeader-btns_dropDown > a {
        color: #000;
    }
}

.mainPageHeader__img {
    width: 60px;
}


@media (max-width: 1025px) {
    .mainPageHeader-btns {
        margin-left: 20px;
    }
}

@media (max-width: 570px) {
    .mainPageHeader__link {
        display: none;
    }

    .mainPageHeaderCol1 {
        background-color: green;
        height: 100%;
    }

}


