.profile-options{
    padding: 50px;
}
.btnGroup{
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;
    button{
        &:hover{
            transform: translateY(-2px);
            background-color: darken(#EFBC23, 5%);
        }
        &:active{
            background-color: darken(#EFBC23, 10%);
        }
        cursor: pointer;
        border: none;
        border-radius: 15px;
        width: 100%;
        padding: px;
        background-color: #EFBC23;
        color: #000000;
        font-weight: bold;
        font-size: 72px;
        line-height: 113px;
        text-align: center;
        margin-bottom: 20px;
    }
}
