.postAssignmentWizard {
    border-bottom: 3px solid #fff;
    padding-bottom: 57px;
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 76px;
    color: #fff;
}

.postAssignmentWizard-title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 76px;
}

.postAssignmentWizard-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
}

.postAssignmentWizard-h3__el1 {
    font-size: 30px;
    margin-bottom: 19px;
}

.postAssignmentWizard-h3__el2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.select {
    cursor: pointer;
    box-sizing: border-box;
    width: 470px;
    height: 70px;
    background-color: #EFBC23;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.select:last-child {
    margin-bottom: 47px;
}

.postAssignmentWizard-icon {
    width: 36px;
    margin-left: 14px;
}

.postAssignmentWizard-h3__el3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 47px;
}

.select-dropdown {
    min-height: 70px;
    background-color: #b5bb5a;
}

.select-subject {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 101px;
}

.select-last {
    margin-bottom: 80px;
}

.postAssignmentWizard-title_step2 {
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 76px;
    margin-bottom: 70px;
}

.memo {
    box-sizing: border-box;
    padding: 25px;
    width: 960px;
    background-color: #fff;
    border-radius: 88px;
    color: #000;
    margin-bottom: 60px;
    font-size: 40px;
}

.postAssignmentWizard-title_step2-h3 {
    font-size: 32px;
    line-height: 57px;
    margin-bottom: 28px;
}

.postAssignmentWizard-title_step2-h3-upload {
    margin-top: 40px;
    margin-bottom: 45px;
    font-size: 30px;
    line-height: 57px;
}

.postAssignmentWizard-upload {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 250px;
    height: 250px;
    border-radius: 79px;
    margin-bottom: 23px;
}

.postAssignmentWizard-upload_stick {
    position: relative;
    top: 120px;
    left: 80px;
    width: 80px;
    height: 0;
    border-top: 10px solid #EFBC23;
    border-radius: 10px;
    margin: 0;
}

.postAssignmentWizard-upload_stick-2 {
    transform: rotate(90deg);
    top: 110px;
}

.addedFile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    background-color: #fff;
    border-radius: 79px;
    color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 44px;
}



.addedFileX {
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    position: relative;
    cursor: pointer;
}

.addedFileX-stick {
    position: relative;
    top: 10px;
    background-color: #000;
    width: 100%;
    height: 3px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.addedFileX-stick-2 {
    top: 8px;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

@media (max-width: 1260px) {
    .memo {
        width: 100%;
    }
}

.PostAssignmentStep3-budgetsАndDeadlines {
    font-size: 46px;
    line-height: 76px;
    margin-bottom: 83px;
}

#PostAssignmentStep3-safeDeal+label {
    display: inline-flex;
    font-size: 56px;
    align-items: center;
    user-select: none;
    margin-bottom: 100px;
    /*
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: 2px solid #EFBC23;
    border-radius: 15px;
    background-color: #fff;
    */
}

#PostAssignmentStep3-safeDeal+label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #fff;
}

#PostAssignmentStep3-safeDeal:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1828/1828743.png');
}

.PostAssignmentStep3-safeDeal-input {
    position: absolute;
    top: 1000px;
    opacity: 0;
    z-index: -1;
}

.postAssignmentFinish-memo {
    justify-content: flex-start;
    margin-bottom: 150px;
    padding: 50px 130px;
}



.postAssignmentFinish-h2, .postAssignmentFinish-h3 {
    font-size: 44px;
    text-align: left;
    margin-bottom: 40px;
}

.postAssignmentFinish-h3 {
    margin-bottom: 30px;
    display: flex;
}

@media (max-width: 920px) {
    .postAssignmentFinish-memo {
        padding-left: 50px;
    }
    .postAssignmentFinish-h3 {
        flex-direction: column;
        font-size: 30px;
        line-height: 50px;
    }

    .postAssignmentFinish-h3_content {
        line-height: 30px;
        text-align: left;
        margin: 0;
    }
}

@media (max-width: 630px) {
    .postAssignmentFinish-wrapper {
        flex-direction: column;
    }
}

.postAssignmentFinish-h3_content {
    font-size: 30px;
    margin-left: 10px;
    color: gray;
}

.postAssignmentFinish-wrapper {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .select {
        width: 100%;
        line-height: 30px;
    }
    .select-subject {
        font-size: 40px;
    }
}

@media (max-width: 700px) {
    #PostAssignmentStep3-safeDeal+label {
        font-size: 40px;
        line-height: 40px;
    }

    #PostAssignmentStep3-safeDeal+label::before {
        margin-left: 3%;
    }
}