.socialNetworkLink {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
}

.socialNetworkIcon {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
}

.vk {
    background-color: #7294C7;
}

.inst {
    background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}

.google {
    background-color: #C5331E;
}

.youtube {
    background-color: #F40000;
}

.whatsapp {
    background-color: #48C95F;
}

.telegram {
    background-color: #2F89CE;
}