.footerInfo {
    box-sizing: border-box;
    font-size: 18px;
    padding-bottom: 100px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: flex-start; /* wrap*/
}

.footerInfo-lists__list > li {
    margin-bottom: 30px;
}

.footerInfo__logo {
    margin-right: 150px;
    box-sizing: border-box;
    width: 90px;
}

.footerInfo-lists {
    display: flex;
    flex-wrap: wrap;
}

.footerInfo-lists__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 80px;
}
.footerInfo-lists__list:last-child {
    margin-right: 0;
}

.footerInfo__link {
    display: flex;
    font-family: "Open Sans";
    text-align: left;
    color: #fff;
}

@media (max-width:1220px){

    .footerInfo__logo {
        margin-right: 50px;
    }
    .footerInfo-lists__list {
        margin-right: 40px;
    }
    .footerInfo-lists__list:last-child {
        margin-right: 0;
    }
}

@media (max-width:990px) {
    .footerInfo__link {
        font-size: 16px;
    }
    .footerInfo {
        padding-bottom: 0;
    }

    .footerInfo__logo {
        margin-right: 100px;
    }

    .footerInfo-lists {
        flex-direction: column;
        width: 240px;
    }
    .footerInfo-lists__list {
        margin-right: 0;
        flex-grow: 1;
        border-bottom: 2px solid #fff;
        margin-bottom: 20px;
    }
    .footerInfo-lists__list:last-child {
        border: none;
    }

    .footerInfo-lists__list > li {
        margin-bottom: 15px;
    }
}

@media (max-width: 660px) {
    .footerInfo__logo {
        margin-right: 10px;
    }
}
