.mainPageEducation {
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

.mainPageEducation-wrapper {
    width: 950px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainPageEducation__icon {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    background-color: #1E26E0;
    border-radius: 50%;
    margin-bottom: 28px;
}

.mainPageEducation__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.mainPageEducation__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 990px) {
    .mainPageEducation-wrapper {
        flex-direction: column;
    }
    .mainPageEducation {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .mainPageEducation__link {
        margin-bottom: 100px;
    }
    .mainPageEducation__link:last-child {
        margin: 0;
    }
}