.social-link {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: calc(310px + (546 - 310) * ((100vw - 320px) / (1920 - 320)));
   padding: 58px 0 45px;
}
.loginNetworkInner {
   display: flex;
   justify-content: space-between;
}
.loginNetworkLink {
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   width: 40px;
   height: 40px;
   border-radius: 50%;
}
.loginNetworkLink + .loginNetworkLink {
   margin-left: calc(15px + (70 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.loginNetworkIcon {
   box-sizing: border-box;
   width: 24px;
   height: 24px;
}

@media (max-width: 1000px) {
   .loginNetworkIcon {
      width: 40px;
      height: 40px;
   }
   .loginNetworkLink {
      width: 60px;
      height: 60px;
      border-radius: 50%;
   }
   .social-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 58px 0 45px;
   }
   .loginNetworkInner {
      padding-top: 20px;
   }
}
