.top-board{
  height: 120px;
  background-color: #2BB5DC;
  margin-bottom: 160px;
}
.profile-wrapper{
  font-family: "Baloo 2";
  margin: 0 auto;
  width: 980px;
}
.container{
  padding: 40px 60px;
}
.profile-view{
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  &--avatar{
    display: flex;
    flex-direction: column;
    box-sizing : content-box;
    img{
      margin-bottom: 20px;
      border-radius: 50%;
      object-fit: cover;
    }
    .premium{
      border: 10px solid #EFBC23B2;
      width: 280px;
      height: 280px;
    }
  }
  &--about{
    text-align: start;
    &-name,h3{
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 76px;
      margin-bottom: 10px;
    }
    &-text,h4{
      margin-bottom: 10px;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 47px;
      color: #000000;

      span{
        font-weight: 400;
      }
    }
    &-specializations{
      align-items: center;
      white-space: pre-wrap;
      max-width: 440px;
      display: flex;
      flex-wrap: wrap;
      h4{
        margin-top: 20px;
        line-height: 20px;
      }
    }
    &-rating{
      display: flex;
      align-items: center;
      h4{

        margin-right: 20px;
      }
    }
    h5{
      margin-top: 6px;
      font-size: 30px;
      font-weight: 400;
    }
  }
}
.account-btnGroup{
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  border-bottom: 2px solid black;
}
.about{
  text-align: start;
  margin-bottom: 40px;
}
.premium-badge{
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  width: 50%;
  padding: 8px 40px;
  background: rgba(239, 188, 35, 0.7);
  border-radius: 10px;
}