.loginText {
   align-self: center;
   font-weight: bold;
   font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1920 - 320)));
   line-height: 49px;
   color: #ffffff;
   letter-spacing: 3px;
}
.loginText__text {
   margin-bottom: 48px;
   letter-spacing: 2px;
}
@media (max-width: 1000px) {
   .loginText {
      letter-spacing: 0px;
   }
   .loginText__text {
      letter-spacing: 0px;
   }
}
