.mainPageView {
    display: flex;
    justify-content: center;
}

.mainPageView-wrapper {
    display: flex;
    box-sizing: border-box;
    margin: auto;
    padding-top: 95px;
    padding-bottom: 80px;
    /*padding-right: 120px;*/
}

.mainPageImg {
    width: 730px;
    height: 510px;
    margin-right: 200px;
}

.mainPageText {
    width: 547px;
    box-sizing: border-box;
    font-family: "Baloo 2";
    color: #fff;
}
.mainPageText__title {
    font-family: "Baloo 2";
    font-size: 64px;
    font-weight: 400;
}

.mainPageText__text {
    font-family: "Baloo 2";
    margin-top: 36px;
    margin-bottom: 65px;
    font-size: 20px;
}

@media (max-width: 1500px) {
    .mainPageImg {
        display: none;
    }
}

@media (max-width: 550px) {
    .mainPageView {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mainPageText,
    .mainPageView-wrapper {
        width: 100%;
    }

    .mainPageText__title {
        font-size: 50px;
    }
}
