.loginTitle {
   font-style: normal;
   font-weight: bold;
   font-size: calc(45px + (72 - 45) * ((100vw - 320px) / (1920 - 320)));
   line-height: 98px;
   color: #fff;
   letter-spacing: 4px;
}
@media (max-width: 1000px) {
   .loginTitle {
      letter-spacing: 0px;
   }
}
