.textarea {
    text-align: left;
    box-sizing: border-box;
    resize: none;
    border: 3px solid #EFBC23;
    border-radius: 15px;
    width: 470px;
    height: 200px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.textarea::-webkit-input-placeholder,
input::-moz-placeholder { color: rgba(143, 143, 143, 0.5); }

.textarea:focus {
    outline: none;
}

@media (max-width: 470px) {
    .textarea {
        width: 100%;
    }
}