.mainPageFooter {
    padding-top: 60px;
    padding-left: 122px;
    padding-right: 122px;
}

.mainPageFooter-wrapper {
    max-width: 1350px;
    margin: auto;
}

@media (max-width: 660px) {
    .mainPageFooter {
        padding-left: 10px;
        padding-right: 10px;
    }
}